html, body {
  margin:0;
  padding:0;
  font-family: sans-serif;
}
h1{
  color: #29537c;
}
h2{
  color: #29537c;
}
p{
  font-size: 12;
  font-weight: bold;
}
.box{
  position: relative;
  margin-top: 15px;
  margin-left: 15px;
  float: left;
  border-radius: 25px;
  background:rgb(245,245,245);
  box-shadow: 2px 3px 10px black;
  padding: 15px;
  text-align: center;
}
.dataBox{
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 200px;
}
#currentWBox{
  width: 30%;
}
#content{
  margin: auto;
  width: 70%;
}
#locationBox{
  margin-top: 15px;
  width: 100%
}
#searchBox{
  position: absolute;
  width: 400px;
  height: 200px;
  margin: auto;
  vertical-align: middle;
  float: none;
}
#currentWBoxW{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50%;
}
#currentWBoxTemp{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50%;
}
#currentWBoxTemp h2{
  font-size: 64px;
  margin: 0px;
}
#currentWBoxWind{
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 0px;
}
#currentWBoxWind h2{
  font-size: 42px;
}
.textField{
  color: #29537c;
  width: 50%;
  height: 25px;
  border-radius: 5px;
}
.button {
    background-color: #33669c; /* Green */
    border: none;
    border-radius: 5px;
    color: white;
    margin: 15px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button:hover{
  background-color: #29537c;
}
.triple {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
